<div class="containeradd">

    <form class="form-Them-Voucher" method="POST" action="/vouchers/store" enctype="multipart/form-data">
        <div class="add">
        <h1>Thêm Voucher</h1>
        
        
        <div class="form-text">
            <select name="CatalogID" id="CatalogID" placeholder="Loại dịch vụ"  required="">
                <option value="xe">Xe</option>
                <option value="maybay">Máy bay</option>
                <option value="khachsan">Khách sạn</option>
            </select>
        </div>

        

        <div class="form-text">
            <input type="text" name="Name" placeholder="Tên Voucher"  required=""> 
        </div>


        <div class="form-radio">
            <label>Phân loại: </label>
            <input type="radio" value="mienphi" name="phanloai" id="mien-phi">
            <lable for="mien-phi">Miễn phí</label>
            <input type="radio" value="doidiem" name="phanloai" id="doi-diem">
            <label for="doi-diem">Đổi điểm</label> 
        </div>
        
        <div class="form-date">
            <label>Thời hạn sử dụng từ ngày: </label>
            <input type="date" name="CreateDay" required="">
            <label>Đến ngày:</label>
            <input type="date" name="ExpDay" required="">
            
        </div>

        <div class="form-text">
            <input type="number" name="PointCost" min="0" max="1000000" step="100"  placeholder="Giá mua(Point)" required="">
        </div>

        <div class="form-text">
            <input type="number" name="Discount" placeholder="Tỷ lệ giảm giá" required="">
        </div>

        <div class="form-text">
            <input type="number" name="Quantity" placeholder="Số lượng" required="">
        </div>

        <div class="form-text">
            <input type="text" name="Code" placeholder="Mã Voucher" required="">
        </div>

        <div class="form-text">
                <input type="text" name="PartnerID" placeholder="PartnerID" required="">
        </div>

        
        <div class="form-file">
            <label>Link ảnh</label>
            <input type="file" name="ImageLink" accept="image/png, image/jpg" required="">
        </div>
        
        <div class="form-text">
            <textarea id="ContentHeader" name="ContentHeader" placeholder="Tiêu đề" rows="3" cols="60" style="resize: none;" required=""></textarea> 
        </div>

        <div class="form-text">
            <textarea id="Contents" name="Contents" placeholder="Nội dung" rows="10" cols="60" style="resize: none;" required=""></textarea> 
        </div>

        <div class="form-text">
            <textarea id="PreContent" name="PreContent" placeholder="Quảng cáo trong thẻ" rows="3" cols="60" style="resize: none;" required=""></textarea> 
        </div>


        <div class="form-text">
            <textarea id="VoucherNote" name="VoucherNote" placeholder="Mô tả giá trị ưu đãi" rows="2" cols="60" style="resize: none;" required=""></textarea> 
        </div>
        
        

        <button>Submit</button>
        <button>Cancel</button>
        </div>
    </form>

 </div>   


        
            