



    <div class="sidebar" style="padding-top: 120px;">
            <a href="#">Quản lý Voucher</a>
            <a href="#">Quản lý người dùng</a>
	</div>
	<div id="content" style="padding-top: 130px;">
        
        <h1>Voucher Manage</h1>

    </div>


