.card-voucher-item {
  margin-top: 16px;
  margin-right: 16px; }

.voucher-detail {
  text-align: center; }

.voucherdetail-top-image {
  object-fit: contain; }

.contentHeader-text {
  margin-top: 20px;
  white-space: pre-line;
  line-height: 2.5;
  font-weight: bold; }

.content-text {
  margin-top: 10px;
  white-space: pre-line;
  line-height: 2.5; }

.voucher-note {
  margin-top: 10px; }

.btn-findvoucher {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1700px;
  height: 50px;
  text-align: center; }

.card-code {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  margin-top: 40px; }

.clipBoard {
  margin-top: 20px;
  margin-bottom: 20px; }

:root {
  --bg1: rgba(229, 255, 192, 0.653);
  --bg2: rgba(0, 149, 255, 0.925);
  --bg3: rgba(255, 0, 242, 0.762); }

* {
  margin: 0;
  padding: 0;
  outline: none; }

a {
  text-decoration: none; }

.containeradd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 120vh;
  background: linear-gradient(to bottom right, var(--bg1), var(--bg2)); }

.form-Them-Voucher {
  width: 500px;
  height: 750px;
  background: rgba(128, 128, 128, 0.476);
  border-radius: 10px;
  padding: 40px 40px;
  color: #0f618a; }

.form-Them-Voucher h1 {
  margin-bottom: 40px; }

.form-Them-Voucher button {
  height: 40px;
  width: 40%;
  margin-bottom: 30px;
  background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg3));
  border: none;
  color: white;
  border-radius: 10px;
  background-size: 200%;
  transition: 0.5s; }

.form-Them-Voucher button:hover {
  background-position: right; }

.form-date {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  color: black; }

.form-date input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid pink;
  cursor: pointer;
  padding-left: 12px; }

.form-file {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  color: black; }

.form-radio {
  margin-bottom: 40px;
  position: relative;
  color: black; }

.form-text {
  margin-bottom: 40px;
  position: relative;
  color: black; }

.form-text input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid pink;
  cursor: pointer;
  padding-left: 12px; }

.form-text label {
  position: absolute;
  left: 12px;
  bottom: 2px; }

.form-text label.focus {
  transform: translateY(-35px); }

#sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
  background-color: #8e44ad; }

#sidebar a {
  display: block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  margin: 15px 0 0 0;
  text-decoration: none; }

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important; }

#content {
  display: table-cell;
  width: 85%;
  vertical-align: top;
  padding: 10px 0 0 10px; }
