<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <title>Form -Thêm Voucher</title>
</head>
<body>
<div class="containeradd">
    <form class="form-Them-Voucher">
        
        <h1>Thêm Voucher</h1>
        
        <div class="form-text">
            
            <input type="text" placeholder="VoucherId">
        </div>
        
        <div class="form-text">
            <input type="text" placeholder="CatalogId">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Tên Voucher">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Content">
        </div>

        <div class="form-radio">
            <label>Phân loại: </label>
            <input type="radio" value="mien-phi" name="phanloai" id="mien-phi">
            <lable for="mien-phi">Miễn phí</label>
            <input type="radio" value="doi-diem" name="phanloai" id="doi-diem">
            <label for="doi-diem">Đổi điểm</label> 
        </div>
        
        <div class="form-date">
            <label>Thời hạn sử dụng từ ngày: </label>

            <input type="date" name="bday">
            <label>Đến ngày:</label>
            <input type="date" name="bday">
            
        </div>

        <div class="form-text">
            <input type="number" name="points" min="0" max="10000" step="100"  placeholder="Giá (Point)">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Discount">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Quantity">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Code">
        </div>

        <div class="form-text">
            <input type="text" placeholder="PartnerID">
        </div>

        <div class="form-file">
            <label>Link ảnh</label>
            <input type="file" name="linkanh">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Pre Content">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Slug">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Content Header">
        </div>

        <div class="form-text">
            <input type="text" placeholder="Mô tả chi tiết">
        </div>
        
        

        <button>Submit</button>
        <button>Cancel</button>
    </form>
    
</div>

</body>
</html>
        
            