<div class="containeradd" style="height: 800px;">

    <form class="form-Them-Voucher" method="POST" action="/user/login" enctype="multipart/form-data" style="height: 450px;">

        <h1 style="color:#4bcdf8; font-weight: bold; font-size: 50px; border:thin">Đăng nhập</h1>

        <div class="add" style="text-align: left;">     

        <div class="form-text">
            <label>Tên tài khoản:</label>
            <input type="text" name="TaiKhoan" placeholder="Tên tài khoản..."  required=""> 
        </div> 

        <div class="form-text">
            <label>Mật khẩu:</label>
            <input type="password" name="MatKhau" placeholder="Mật khẩu..."  required=""> 
        </div>

        <div>  
        <button style="width: 200px;">Đăng nhập</button>
        <input class="buttoncancel" name="buttoncancel" id="buttoncancel" type="button" onclick="window.location.replace('/')" value="Hủy" style="width: 200px;"/>
        </div>
    </form>

 </div>   


        
            