

    <div class="sidebar" style="padding-top: 150px; width: 20%;">
            <a href="/user/profile">Thông tin người dùng</a>
            <a href="/user/profile/khovoucher">Kho voucher</a>
	</div>

    
	<div id="content" style="padding-top: 170px;">
        <h1 style="font-weight: bold; padding-left: 600px;">Thông tin người dùng</h1>
        {{#each user}}
            <table>
                <tr>
                    <th>Tài khoản:</th>
                    <th><input type="text" value="{{this.TaiKhoan}}" readonly></th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </table>
        {{/each}}
    </div>
